$primary-color: #496989;
$second-color: #58a399;
$third-color: #a8cd9f;
$fourth-color: #e2f4c5;
$font-text: "Kanit", sans-serif;

.profile-wrap {
  background-color: $primary-color;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  color: $fourth-color;
  .avatar {
    width: 100px;
    height: 100px;
    margin-right: 30px;
  }
  .avatar img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .infor {
    font-size: 18px;
    span {
      text-decoration: underline;
    }
  }
}
